<%- for field in form_fields -%>
<p>
  <label for="<%= "#{resource_class}_#{field}" %>">
    <%= resource_class.human_attribute_name field %>
  </label>
  
  <%= form_field(f, field, resource) %>
</p>
<%- end -%>
